---
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++20

AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BreakBeforeBraces: Stroustrup
Cpp11BracedListStyle: false
InsertTrailingCommas: Wrapped
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
...
